.board {
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  display: grid;
  padding: 1vmin;
  height: calc(100vw - 2rem);
  width: calc(100vw - 2rem);
  max-height: calc(30rem - 2rem);
  max-width: calc(30rem - 2rem);
}
