.board {
  background-color: #f9f9f9;
  background-size: 3vmin 3vmin;
  border: 2px solid #ddd;
  display: grid;
  height: calc(100vmin - 2rem);
  padding: 1vmin;
  width: calc(100vmin - 2rem);
}

@media (min-width: 600px) {
  .board {
    height: 70vmin;
    width: 70vmin;
  }
}
